@using Microsoft.CodeAnalysis.CSharp.Syntax
@using Npgsql.PostgresTypes
@model Iklian.Web.Models.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

@if (Model.StatusCode == 404)
{
    <h1>@Model.StatusCode - @Model.StatusCodeDefinition</h1>
    <h2>@Model.Message</h2>
}
else
{
<h1>Unknown Error</h1>
}


<p>
    <strong>Request ID:</strong> <code>@Model.RequestId</code>
</p>