@model Iklian.Web.Models.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1>@Model.StatusCode - @Model.StatusCodeDefinition</h1>
<h2>@Model.Message</h2>

<p>
    <strong>Request ID:</strong> <code>@Model.RequestId</code>
</p>
<p>
    To go back to the home page, click <a asp-controller="Home" asp-action="Index">here</a>.
</p>