@{
    ViewData["Title"] = "Home Page";
}

<script src="js/home.js" asp-append-version="true"></script>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Long URL" id="url-text-input">
        <div class="input-group-append">
            <button class="btn btn-outline-primary" type="button" id="shorten-button" onclick="submitShortenUrl();">Shorten</button>
        </div>
    </div>

    <div class="alert alert-success" role="alert" style="display:none;"  id="success-message"></div>
    <div class="alert alert-danger" role="alert" style="display:none;" id="error-message"></div>
</div>
